// Darkmode
$hoverBackground: rgba(255, 255, 255, 0.1);
$backgroundColor: black;
$textColor: rgba(255, 255, 255, 0.93);
$backgroundComponent: #18191a;
$widthNavBar: 250px;
// LightMode
$backgroundLightMode: rgba(255, 255, 255, 0.93);
$textColorLightMode: rgba(0, 0, 0, 0.849);
$hoverBackgroundLightMode: rgba(128, 128, 128, 0.163);
$backgroundComponentLightMode: white;
